<div id="amiibos" class="px-5 pb-5 bg-success">
    <div class="container">
        <div class="row">
            <h2 class="text-center text-white text-shadow h1">Integrantes de Twice</h2>
        </div>
        <div class="row row-cols-1 row-cols-2 row-cols-sm-2 row-cols-md-4">
            @for (member of members; track member.name) {
                <div class="col p-3">
                    <img [src]="member.image" [alt]="member.name" class="w-100 amiibo">
                    <div class="text-center text-white">
                        <span class="amiibo-name h3 p-2">{{ member.name }}</span>
                    </div>
                </div>
            }
        </div>
        
    </div>
    <div id="separator-amiibos-footer"></div>
</div>