<div id="footer" class="p-5">
    <div class="container footer-inner pt-5">
        <div class="row justify-content-center mb-4">
            <div class="col-12 col-md-3 text-center mb-3 mb-md-0">
               <a href="https://twice.jype.com/Default" target="_blank">
                <img src="assets/img/image1.png"  class="w-75 mx-auto d-block" alt="TWICE Logo">
                </a>
            </div>
        </div>
        <div class="row justify-content-center py-3">
            <div class="col-12 col-md-8 text-center text-white font-weight-light">
                <p>Twice (estilizado como TWICE) es un grupo multinacional formado por JYP Entertainment a través del programa Sixteen en 2015.</p>
                <p>El grupo está formado por nueve integrantes: Nayeon, Jeongyeon, Momo, Sana, Jihyo, Mina, Dahyun, Chaeyoung y Tzuyu.</p>
                <p>Debutaron el 20 de octubre de 2015, con el miniálbum The Story Begins.</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center text-white small pt-3">
                <p>© 2015 - 2020 JYP. JYP Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</div>