<div id="play">
    <div class="container-sm p-5">
        <h3 class="text-center h1">Twice</h3>
        <div class="row justify-content-center align-items-center">
            <div class="col-3 d-none d-md-block">
                <img src="assets/img/image01.png" class="w-100" alt="TWICE">
            </div>
            <div class="col-9">
                <div class="row">
                    <ng-container *ngFor="let song of songs">
                        <div class="col-md-6 p-1">
                            <div class="card" [ngClass]="'bg-' + song.color + ' text-white'">
                                <div class="row">
                                    <div class="col-md-6" *ngIf="song.imageLeft">
                                        <img [src]="song.image" class="w-100" [alt]="song.title">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ song.title }}</h5>
                                            <p class="card-text">{{ song.description }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6" *ngIf="!song.imageLeft">
                                        <img [src]="song.image" class="w-100" [alt]="song.title">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>