<app-navbar></app-navbar>
<main>
    <section id="hero" class="site-section section-1" aria-label="Carousel">
        <app-carousel></app-carousel>
    </section>

    <section id="ribbon-section" class="site-section section-2" aria-label="Ribbon">
        <app-ribbon></app-ribbon>
    </section>

    <section id="amiibos-section" class="site-section section-3" aria-label="Integrantes">
        <app-amiibos></app-amiibos>
    </section>

    <section id="games-section" class="site-section section-4" aria-label="Juegos">
        <app-games></app-games>
    </section>

    <section id="play-section" class="site-section section-5" aria-label="Play">
        <app-play></app-play>
    </section>
</main>

<app-footer></app-footer>
